.markdown-body p, .markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body blockquote,
.markdown-body ul, .markdown-body ol, .markdown-body dl,
.markdown-body table {
    width: 550px;
}

.markdown-body {
    font-size: 18px !important;
    background-color: #fafafa !important;
}



code {
    border: 1px solid #ddd;
}

.highlight {
    width: 700px;
    background-color: #fafafa;
    border: 1px solid #ddd;
}

.markdown-body  pre {
  width: 700px;
  background-color: #fafafa;
  border: 1px solid #ddd;
}

.entry-content {
  display: flex;
  flex-direction: column;
}

.faded {
  opacity: .4;
}

.image-container {
  width: 100% !important;
  display:inline-block;
}

.image-container img {
  display:block;
  margin-left: 0;
}
