.markdown-body p, .markdown-body h2, .markdown-body blockquote,
.markdown-body ul, .markdown-body ol, .markdown-body dl,
.markdown-body table {
    max-width: 550px;
}

.markdown-body {
    font-size: 18px !important;
}

.markdown-body p img {
    max-width: 900px !important;
}

code {
    border: 1px solid #ddd;
}

.highlight {
    max-width: 700px;
    background-color: #fafafa;
    border: 1px solid #ddd;
}

.markdown-body  pre {
  max-width: 700px;
}
