.markdown-body {
  background-color: black !important;
  color: #bbb !important;
}

body {
  background-color: black !important;
}

code {
  background-color: #222 !important;
  border: none !important;
}

pre {
  background-color: #222 !important;
}
